.left-side {
  background-color: #50c878;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 78vh;
  padding-bottom: 10%;
}

.login-h {
  font-weight: bold;
}

.right-side {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.right-side h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.left-side h2 {
  font-size: 30px;
}
.container_1 {
  height: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
}
