.card {
  overflow: hidden;
  padding: 5% 0 5% 0;
  margin: 2% 10% 0 10% !important;
  background-color: white;
  border-radius: 50px;
  align-content: center;
  align-items: center;
}

.cover {
  object-fit: contain;
  object-position: center;
  width: 50%;
  max-height: 15rem;
  border-radius: 50px;
  margin-bottom: 4%;
  margin-top: 4%;
}

.title {
  font-weight: 600;
  display: inline;
  margin-right: 2rem;
}

.rating {
  align-items: center;
}

.rating h6 {
  display: inline;
}
