.adminTable th {
  white-space: nowrap;
}

.adminTableHeader th {
  font-weight: normal;
  text-transform: uppercase;
}
.iconRed:hover {
  color: #ED2839  ;
}

.iconBlue:hover {
  color: blue;
}

.adminTableRows tr td{
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}