.form{
  width: 450px;
  border: 2px solid #888888;
  box-shadow: 3px 3px 5px #888888;
  border-radius: 30px !important;
}

.form .input{
  margin: 12px;
  width: 95% ;
  border:  none;
  border-bottom: 1px solid black;
}