#navbar {
  padding: 0 2rem 0 2rem;
}

.navButtons {
  display: flex;
  justify-content: center;
}

.adminLinks {
  display: inline-block;
  margin: 1rem;
  color: white;
  text-decoration: none;

}

.navSearch {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .adminLinks {
    
  }
  .navButtons {
    padding: 1rem;
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  #navbar {
    padding: 0 1rem 0 1rem;
  }
}

.space {
  justify-content: space-around;
  margin-right: 5%;
}

.flagIcon img {
  width: 20px;
  height: 20px; 
}


.adminLinks_1 {
  background-color: transparent !important; /* Set the background color of the toggle button to transparent */ 
  font-weight: bold;
}



.dropdown-menu {
  background-color: #fff; /* Set the background color of the dropdown menu to white */
  font-weight: bold;
}

.dropdown-menu a {
  background-color: transparent; /* Set the background color of the dropdown items to transparent */
  font-weight: bold;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item.active:hover,
.dropdown-menu .dropdown-item.active:focus {
  background-color: transparent;
  color: #ffc700;
}

.dropdown-menu {
  left: -10px; /* Adjust the value as per your needs */
}