//colors
$orange: #ffc700;
$green: #50c878;
$white: #ffffff;
$black: #000000;
$gray: #343434;
$blue: #688cff;

//fonts
$main-font: "Montserrat", sans-serif;
$font-size: 20px;

// background
.background-orange {
  background-color: $orange;
}

.background-green {
  background-color: $green;
}

.background-gray {
  background-color: $gray;
}

.background-white {
  background-color: $white;
}

.background-blue {
  background-color: $blue;
}

// text color
.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.text-orange {
  color: $orange !important;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

* {
  font-family: $main-font;
  font-size: $font-size;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 16px;
  }
}
