.header-container{
  position: relative;
  text-align: center;
  padding: 4rem;
}

.custom-shape-divider-bottom-1682524239 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1682524239 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 248px;
}

.custom-shape-divider-bottom-1682524239 .shape-fill {
  fill: #FFFFFF;
}

