.body {
  background-color: ghostwhite;
}

.card {
  background-color: white;
  border-radius: 50px;
}

.cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 15rem;
  border-radius: 50px 50px 0 0;
}

.title {
  font-weight: 600;
  display: inline;
  margin-right: 2rem;
}

.rating {
  align-items: center;
}

.rating h6 {
  display: inline;
}

.card_1 {
  background-color: white;
  border-radius: 50px;
  width: 80%;
  max-height: 15rem;
  padding: 1%;
  border: 2px solid #79e39c;
  margin: 2% 10% 2% 10% !important;
}

#custom {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 5%;
  margin-right: 5%;
}

.heading_1 {
  margin-left: 8px;
  font-weight: bold;
  margin-top: 15px;
}

.smaller_button {
  padding: 3px 12px;
  font-size: 14px;
}

.button_wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 20px;
}

.success {
  color: green;
}

.ratingSpace{
  width: 100%;
  text-align: end;
}
