.category-card {
  font-size: 1rem;
  border: none;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  border-radius: 100px;
  margin: 0.4rem;
  white-space: nowrap;
  text-align: center;
  width: 150px;
}

.category-card span {
  font-size: xx-large;
  margin-bottom: 1px;
}
