.tableLinks {
  display: inline-block;
  margin: 1rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.tableLinks:hover,
.tableLinks:focus,
.tableLinks:active {
  color: #449ce7;
}

.tableLinkContainer {
  margin-top: 2rem;
  position: relative;
}
