.tableLinks {
  margin: 1rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.tableLinks:hover,
.tableLinks:active:focus {
  color: #ffc700;
}

.tableLinkContainer {
  margin-top: 2rem;
  position: relative;
}
