.height {
  height: 100vh;
}

.h3_center {
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 30%;
}

.p_center {
  color: white;
  text-align: center;
}

.centerButton {
  margin-left: 43%;
}

.text_in_the_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.translate-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_container_4 {
  margin-top: 12%;
}
