

.search-form{
  margin-bottom: 10%;
  justify-content: center;
}

.search-input{
  display: flex;
  border-radius: 100px;
  border: none;
  padding: 1rem;
}
.btn{
  position: absolute;
}