.main-button {
  font-size: 1rem;
  border: none;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 100px;
  margin: 0.4rem;
  white-space: nowrap;
}

.main-button:hover {
  background-color: #fdae45;
}

.main-button:disabled {
  background-color: #dea963;
}

.main-button:disabled:hover {
  background-color: #dea963;
}
