.inputBackground {
  border: 2px solid #888888;
  border-radius: 30px;
  box-shadow: 3px 3px 5px #888888;
  padding: 25px;
  margin: auto !important;
  width: 70%;
  height: 95%;
}
@media (max-width: 800px) {
  .inputBackground {
    width: 90%;
    padding: 30px;
  }
}
@media (max-width: 576px) {
  .inputBackground {
    width: 100%;
  }
}

select{
  color: #757575;
}
.inputContainer{
  height: 100vh;
}
.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border: none;
  font-size: 15px;
  border-bottom: 1px solid black;
  display: inline;
  width: 100%;
  margin-top: 4px;
  padding: 1px;
}
